Repository DorofD/StandPlanner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, deploy

.gitlab-ci.yml:

stages:
  - build
  - deploy

build_backend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - cp $ENV_BACKEND ./backend/.env
    - docker build . -f ./docker/Dockerfile.backend -t sp-backend:latest
    - docker tag sp-backend:latest dso-gitlab.kraftway.ru:5005/infrastructure/others/standplanner/backend:latest
    - echo $REGISTRY_TOKEN | docker login dso-gitlab.kraftway.ru:5005 -u edorofeev --password-stdin
    - docker image push dso-gitlab.kraftway.ru:5005/infrastructure/others/standplanner/backend
  tags:
    - sp-build
  rules:
    - changes:
      - backend/**/*
      - docker/**/*

build_frontend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - cp $ENV_FRONTEND ./frontend/.env
    - docker build . -f ./docker/Dockerfile.frontend -t sp-frontend:latest
    - docker tag sp-frontend:latest dso-gitlab.kraftway.ru:5005/infrastructure/others/standplanner/frontend:latest
    - echo $REGISTRY_TOKEN | docker login dso-gitlab.kraftway.ru:5005 -u edorofeev --password-stdin
    - docker image push dso-gitlab.kraftway.ru:5005/infrastructure/others/standplanner/frontend
  tags:
    - sp-build
  rules:
    - changes:
      - frontend/**/*
      - docker/**/*

deploy:
  stage: deploy
  script:
    - cd /www
    - echo $REGISTRY_TOKEN | docker login dso-gitlab.kraftway.ru:5005 -u edorofeev --password-stdin
    - docker compose pull
    - docker compose up -d
  tags:
    - sp-deploy
  rules:
    - changes:
        - backend/**/*
        - frontend/**/*
        - docker/**/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

webpack
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
Due: build_frontend, deploy

webpack
  frontend/webpack.config.js
Due: build_frontend, deploy

документация
  .gitlab-ci.yml
  README.md
  docs/installation.md
  docs/ui_instructions/projects.md
  docs/web_ui.md
  example-docker-compose.yml
Due: none

документация
  backend/.env.example
  docker-compose.yml
  docs/installation.md
  example-docker-compose.yml
  frontend/.env.example
Due: build_backend, build_frontend, deploy

bugfix
  backend/app/__init__.py
Due: build_backend, deploy

документация
  docs/installation.md
  docs/ui_instructions/projects.md
  docs/web_ui.md
Due: none

документация
  README.md
Due: none

docs
  docs/web_ui.md
Due: none

requirements.txt
  backend/requirements.txt
Due: build_backend, deploy

Перенос системы логирования из VulnScanC
  backend/app/__init__.py
  backend/app/routes/logs.py
  backend/app/services/api_services/logs.py
  backend/data/app.log
  frontend/src/components/Base/Base.css
  frontend/src/components/Button/Button.css
  frontend/src/components/Logs/LogCard/LogCard.css
  frontend/src/components/Logs/LogCard/LogCard.jsx
  frontend/src/components/Logs/Logs.css
  frontend/src/components/Logs/Logs.jsx
  frontend/src/components/Logs/filter.png
  frontend/src/components/Main/Main.css
  frontend/src/components/Planner/Planner.css
  frontend/src/components/Stands/Stands.css
  frontend/src/services/apiLogs.js
Due: build_backend, build_frontend, deploy

парсинг confluence, рефакторинг модуля стенда и маршрутов
  .gitignore
  .gitlab-ci.yml
  backend/.env.example
  backend/app/__init__.py
  backend/app/classes/__init__.py
  backend/app/classes/confluence.py
  backend/app/classes/scheduler.py
  backend/app/repository/db_model.py
  backend/app/repository/queries/confluence_sources.py
  backend/app/repository/queries/stands.py
  backend/app/routes/base_routes.py
  backend/app/services/api_services/stands.py
  backend/app/services/confluence/__init__.py
  backend/app/services/confluence/api.py
  backend/app/services/stand_service.py
  backend/data/app.log
  backend/requirements.txt
  frontend/src/components/Logs/LogCard/LogCard.css
  frontend/src/components/Main/Main.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Stands/Stands.jsx
  frontend/src/services/apiStands.js
Due: build_backend, build_frontend, deploy

обработка источников Confluence
  backend/app/__init__.py
  backend/app/classes/confluence.py
  backend/app/domain/__init__.py
  backend/app/domain/confluence_api.py
  backend/app/domain/scheduler.py
  backend/app/domain/sources.py
  backend/app/domain/user.py
  backend/app/repository/db_model.py
  backend/app/repository/queries/confluence_sources.py
  backend/app/repository/queries/sources_confluence_page_id.py
  backend/app/repository/queries/stands.py
  backend/app/repository/queries/users.py
  backend/app/routes/base_routes.py
  backend/app/routes/login.py
  backend/app/routes/logs.py
  backend/app/routes/users.py
  backend/app/services/api_services/stands.py
  backend/app/services/api_services/users.py
  backend/app/services/comment_service.py
  backend/app/services/comments.py
  backend/app/services/logs.py
  backend/app/services/reservations.py
  backend/app/services/sources.py
  backend/app/services/stands.py
  backend/app/services/user_service.py
  backend/app/services/users.py
  frontend/src/components/AcceptModal/AcceptModal.css
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/App.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/Main/Main.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.css
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/services/apiSources.js
Due: build_backend, build_frontend, deploy

обработка источников, доработка управления пользователями и логами
  backend/app/__init__.py
  backend/app/domain/sources.py
  backend/app/repository/queries/stands.py
  backend/app/repository/queries/users.py
  backend/app/routes/logs.py
  backend/app/routes/users.py
  backend/app/services/logs.py
  backend/app/services/sources.py
  backend/app/services/users.py
  frontend/public/index.html
  frontend/src/components/AcceptModal/AcceptModal.css
  frontend/src/components/Admin/Admin.css
  frontend/src/components/Bots/Bots.css
  frontend/src/components/Bots/Bots.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/Filter/Filter.css
  frontend/src/components/Filter/Filter.jsx
  frontend/src/components/Filter/filter.png
  frontend/src/components/Logs/LogCard/LogCard.css
  frontend/src/components/Logs/Logs.css
  frontend/src/components/Logs/Logs.jsx
  frontend/src/components/Planner/Planner.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/components/Stands/Stands.jsx
  frontend/src/components/Users/Users.css
  frontend/src/components/Users/Users.jsx
  frontend/src/services/apiLogs.js
  frontend/src/services/apiUsers.js
Due: build_backend, build_frontend, deploy

обработка источников, стилизация фронта
  backend/app/domain/sources.py
  backend/app/repository/db_model.py
  backend/app/repository/queries/reservations.py
  backend/app/repository/queries/sources_confluence_page_id.py
  backend/app/repository/queries/stands.py
  backend/app/routes/base_routes.py
  backend/app/services/sources.py
  backend/app/services/stands.py
  frontend/src/components/Admin/Admin.css
  frontend/src/components/App.css
  frontend/src/components/Base/Base.css
  frontend/src/components/Base/Base.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.jsx
  frontend/src/components/Login/Login.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Planner/Planner.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.css
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.jsx
  frontend/src/contexts/ColorSchemeContext.js
  frontend/src/index.js
  frontend/src/services/authFetch.js
Due: build_backend, build_frontend, deploy

костыль на стабильную работу и сохранения состояния цветовой схемы
  frontend/src/components/App.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.jsx
  frontend/src/contexts/ColorSchemeContext.js
  frontend/src/hooks/useColorThemeContext.js
Due: build_frontend, deploy

проверка обработки источников, багфикс, цветовые схемы для фронта
  backend/app/domain/confluence_api.py
  backend/app/domain/sources.py
  backend/app/repository/queries/base_query.py
  backend/app/repository/queries/sources_confluence_page_id.py
  backend/app/repository/queries/stands.py
  backend/app/routes/base_routes.py
  backend/app/services/sources.py
  backend/app/services/stands.py
  frontend/public/index.html
  frontend/src/components/Admin/Admin.css
  frontend/src/components/App.css
  frontend/src/components/App.jsx
  frontend/src/components/Base/Base.css
  frontend/src/components/Base/Base.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.jsx
  frontend/src/components/Login/Login.css
  frontend/src/components/Login/Login.jsx
  frontend/src/components/Main/Main.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.css
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/contexts/ColorSchemeContext.js
  frontend/src/hooks/useColorThemeContext.js
  frontend/src/services/apiSources.js
  frontend/src/services/authFetch.js
Due: build_backend, build_frontend, deploy

bugfix
  frontend/src/color_themes/dark-yellow-theme.css
  frontend/src/color_themes/light-orange-theme.css
  frontend/src/components/About/About.css
  frontend/src/components/About/About.jsx
  frontend/src/components/App.css
  frontend/src/components/Main/Main.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/components/Users/UserCard/UserCard.css
  frontend/src/components/Users/Users.css
  frontend/src/components/Users/Users.jsx
Due: build_frontend, deploy

обработка ресурсов, правки фронта
  backend/app/__init__.py
  backend/app/domain/sources.py
  backend/app/repository/queries/sources_confluence_page_id.py
  backend/app/routes/base_routes.py
  backend/app/routes/login.py
  backend/app/services/sources.py
  frontend/src/components/App.css
  frontend/src/components/Loader/Loader.css
  frontend/src/components/Loader/Loader.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.css
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/services/apiSources.js
Due: build_backend, build_frontend, deploy

работа со стандами, парсинг вёрстки confluecne, массовое обновление источников, доработки фронта
  backend/app/__init__.py
  backend/app/domain/confluence_api.py
  backend/app/domain/html_parser.py
  backend/app/routes/base_routes.py
  backend/app/routes/login.py
  backend/app/services/sources.py
  backend/app/services/stands.py
  backend/requirements.txt
  frontend/src/color_themes/!themes-README.txt
  frontend/src/color_themes/dark-purple-theme.css
  frontend/src/color_themes/dark-yellow-theme.css
  frontend/src/color_themes/default-theme.css
  frontend/src/color_themes/light-orange-theme.css
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/App.css
  frontend/src/components/App.jsx
  frontend/src/components/Base/Base.jsx
  frontend/src/components/Bots/Bots.css
  frontend/src/components/Bots/Bots.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/Loader/Loader.jsx
  frontend/src/components/Logs/Logs.jsx
  frontend/src/components/Notification/Notification.css
  frontend/src/components/Notification/Notification.jsx
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/components/Stands/Stands.css
  frontend/src/components/Stands/Stands.jsx
  frontend/src/components/TestComponent/TestComponent.css
  frontend/src/components/TestComponent/TestComponent.jsx
  frontend/src/components/TestComponent/TextExamples.js
  frontend/src/components/TimedMessages/TimedMessages.css
  frontend/src/components/TimedMessages/TimedMessages.jsx
  frontend/src/contexts/TimedMessagesContext.js
  frontend/src/hooks/useNotificationContext.js
  frontend/src/hooks/useTimedMessagesContext.js
  frontend/src/index.js
  frontend/src/services/apiSources.js
  frontend/src/services/apiStands.js
Due: build_backend, build_frontend, deploy

парсинг html, обработка источнико, правки по фронту
  backend/app/domain/confluence_api.py
  backend/app/domain/html_parser.py
  backend/app/domain/sources.py
  backend/app/repository/db_model.py
  backend/app/repository/queries/stands.py
  backend/app/routes/base_routes.py
  backend/app/services/sources.py
  frontend/src/components/App.css
  frontend/src/components/Apscheduler/Apscheduler.jsx
  frontend/src/components/Main/Main.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.jsx
  frontend/src/components/Stands/Stands.css
  frontend/src/components/Stands/Stands.jsx
  frontend/src/components/TestComponent/TestComponent.css
  frontend/src/components/TestComponent/TestComponent.jsx
  frontend/src/components/Users/Users.jsx
  frontend/src/services/apiSources.js
Due: build_backend, build_frontend, deploy

работа со стендами
  backend/app/routes/base_routes.py
  frontend/src/components/App.css
  frontend/src/components/Filter/Filter.css
  frontend/src/components/Filter/Filter.jsx
  frontend/src/components/Main/Main.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.css
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Stands/StandCard/StandCard.css
  frontend/src/components/Stands/StandCard/StandCard.jsx
  frontend/src/components/Stands/Stands.jsx
Due: build_backend, build_frontend, deploy

реворк уведомлений, отображение состояния стендов
  backend/app/routes/base_routes.py
  frontend/public/index.html
  frontend/src/components/App.css
  frontend/src/components/Base/Base.css
  frontend/src/components/Base/Base.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/Login/Login.jsx
  frontend/src/components/Logs/Logs.jsx
  frontend/src/components/Main/Main.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Main/send.png
  frontend/src/components/Notification/Notification.jsx
  frontend/src/components/Planner/Planner.css
  frontend/src/components/Planner/Planner.jsx
  frontend/src/components/Planner/ReservationCard/ReservationCard.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/components/Stands/StandCard/StandCard.css
  frontend/src/components/Stands/StandCard/StandCard.jsx
  frontend/src/components/Stands/StandCard/WarningIcon.svg
  frontend/src/components/Stands/Stands.css
  frontend/src/components/Stands/Stands.jsx
  frontend/src/components/TestComponent/TestComponent.css
  frontend/src/components/TestComponent/TestComponent.jsx
  frontend/src/components/TimedMessages/TimedMessages.css
  frontend/src/components/TimedMessages/TimedMessages.jsx
  frontend/src/components/Users/Users.css
  frontend/src/components/Users/Users.jsx
  frontend/src/contexts/NotificationContext.js
  frontend/src/contexts/TimedMessagesContext.js
Due: build_backend, build_frontend, deploy

демонстрационная версия
  backend/app/domain/sources.py
  backend/app/repository/db_model.py
  backend/app/repository/queries/stands.py
  backend/app/routes/base_routes.py
  backend/app/services/sources.py
  frontend/src/components/About/About.css
  frontend/src/components/About/About.jsx
  frontend/src/components/About/spSources.jpg
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/App.css
  frontend/src/components/App.jsx
  frontend/src/components/Base/Base.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.jsx
  frontend/src/components/Main/Main.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/components/Stands/StandCard/StandCard.jsx
  frontend/src/components/Stands/Stands.jsx
  frontend/webpack.config.js
Due: build_backend, build_frontend, deploy

bugfix
  frontend/src/components/Main/Main.jsx
Due: build_frontend, deploy

правки фронта
  frontend/src/color_themes/App-themes-links.css
  frontend/src/color_themes/dark-red-theme.css
  frontend/src/color_themes/dark-yellow-theme.css
  frontend/src/color_themes/light-orange-theme.css
  frontend/src/components/About/About.css
  frontend/src/components/Admin/Admin.css
  frontend/src/components/App.css
  frontend/src/components/Base/Base.css
  frontend/src/components/Button/Button.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.jsx
  frontend/src/components/Filter/Filter.css
  frontend/src/components/Filter/Filter.jsx
  frontend/src/components/Filter/filter.svg
  frontend/src/components/Login/Login.css
  frontend/src/components/Main/Main.css
  frontend/src/components/Sources/SourceCard/SourceCard.css
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Stands/StandCard/StandCard.css
  frontend/src/components/Stands/StandCard/StandCard.jsx
  frontend/src/components/Stands/StandCard/WarningIcon.svg
  frontend/src/components/Stands/Stands.css
Due: build_frontend, deploy

rocket api
  backend/.env.example
  backend/app/__init__.py
  backend/app/domain/confluence_api.py
  backend/app/domain/rocket_chat_api.py
  backend/app/domain/sources.py
  backend/app/services/sources.py
Due: build_backend, deploy

источник confluence_tag, доработки фронта, схема бд
  backend/app/domain/confluence_api.py
  backend/app/domain/html_parser.py
  backend/app/domain/sources.py
  backend/app/repository/db_model.py
  backend/app/repository/queries/sources_confluence_tag.py
  backend/app/repository/queries/stands.py
  backend/app/routes/base_routes.py
  backend/app/routes/login.py
  backend/app/services/sources.py
  backend/app/services/stands.py
  backend/db.drawio
  frontend/src/components/App.css
  frontend/src/components/Button/Button.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Sources/Sources.jsx
  frontend/src/components/Stands/Stands.jsx
  frontend/src/components/TimedMessages/TimedMessages.css
Due: build_backend, build_frontend, deploy

Поиск по Confluence tag, правки фронта
  frontend/src/components/About/About.jsx
  frontend/src/components/App.css
  frontend/src/components/Base/Base.css
  frontend/src/components/Base/Base.jsx
  frontend/src/components/Base/img1.webp
  frontend/src/components/Base/img10.webp
  frontend/src/components/Base/img2.webp
  frontend/src/components/Base/img3.webp
  frontend/src/components/Base/img4.webp
  frontend/src/components/Base/img5.webp
  frontend/src/components/Base/img6.webp
  frontend/src/components/Base/img7.webp
  frontend/src/components/Base/img8.webp
  frontend/src/components/Base/img9.webp
  frontend/src/components/Bots/Bots.css
  frontend/src/components/Bots/Bots.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.jsx
  frontend/src/components/ColorSchemeSelector/InterfaceLightingBrightness2BrightAdjustBrightnessAdjustmentSun.svg
  frontend/src/components/ColorSchemeSelector/NightSky.svg
  frontend/src/components/ColorSchemeSelector/SunMoon.svg
  frontend/src/components/Logs/MoonTransition.svg
  frontend/src/components/RandomImage/RandomImage.css
  frontend/src/components/RandomImage/RandomImage.jsx
  frontend/src/components/Sources/Copy.svg
  frontend/src/components/Sources/ExternalLink.svg
  frontend/src/components/Sources/Sources.css
  frontend/src/components/Sources/Sources.jsx
  frontend/webpack.config.js
Due: build_frontend, deploy

правки фронта
  backend/app/domain/sources.py
  backend/app/domain/user.py
  backend/app/routes/base_routes.py
  backend/app/services/sources.py
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/App.css
  frontend/src/components/Base/Base.css
  frontend/src/components/Base/Base.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.css
  frontend/src/components/ColorSchemeSelector/ColorSchemeSelector.jsx
  frontend/src/components/Main/Main.jsx
  frontend/src/svg_images/ArrowLeft.svg
  frontend/src/svg_images/ArrowRight.svg
  frontend/src/svg_images/ExpandLeft.svg
  frontend/src/svg_images/ExpandRight.svg
  frontend/src/svg_images/Logout.svg
Due: build_backend, build_frontend, deploy

изменение
  backend/app/repository/queries/sources_confluence_tag.py
  backend/app/routes/base_routes.py
  backend/app/services/sources.py
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Sources/Sources.jsx
  frontend/src/services/apiSources.js
Due: build_backend, build_frontend, deploy

Источники ConfluenceTag (маршруты, логика обработки, бд, фронт)
  backend/app/domain/confluence_api.py
  backend/app/domain/sources.py
  backend/app/repository/db_model.py
  backend/app/repository/queries/sources_confluence_page_id.py
  backend/app/repository/queries/sources_confluence_tag.py
  backend/app/repository/queries/stands.py
  backend/app/routes/base_routes.py
  backend/app/services/sources.py
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/Admin/easter_imgs/img1.webp
  frontend/src/components/Admin/easter_imgs/img10.webp
  frontend/src/components/Admin/easter_imgs/img2.webp
  frontend/src/components/Admin/easter_imgs/img3.webp
  frontend/src/components/Admin/easter_imgs/img4.webp
  frontend/src/components/Admin/easter_imgs/img5.webp
  frontend/src/components/Admin/easter_imgs/img6.webp
  frontend/src/components/Admin/easter_imgs/img7.webp
  frontend/src/components/Admin/easter_imgs/img8.webp
  frontend/src/components/Admin/easter_imgs/img9.webp
  frontend/src/components/App.css
  frontend/src/components/Bots/Bots.jsx
  frontend/src/components/Filter/Filter.css
  frontend/src/components/Main/Main.css
  frontend/src/components/Main/Main.jsx
  frontend/src/components/RandomImage/RandomImage.css
  frontend/src/components/RandomImage/RandomImage.jsx
  frontend/src/components/Sources/SourceCard/SourceCard.jsx
  frontend/src/components/Sources/Sources.jsx
  frontend/src/components/Stands/Stands.jsx
  frontend/src/contexts/SidebarStateContext.js
Due: build_backend, build_frontend, deploy

bugfix
  backend/app/domain/confluence_api.py
Due: build_backend, deploy

bugfix
  frontend/src/components/Main/Main.jsx
  frontend/src/components/Sources/Sources.jsx
Due: build_frontend, deploy

bugfix
  frontend/src/components/Sources/Sources.jsx
Due: build_frontend, deploy
